.App {
  display: flex;
  align-items: stretch;
}
.Map, .Form {
  display: flex;
}
.Map {
  width: 60%;
}
.Form {
  width: 40%;
}
.Form > form {
  justify-content: center;
  align-self: center;
  text-align: right;
}
.Form > form li {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 1em;
}